body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.meta {
  font-size: 11px;
  color: #767676;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 5px;
}
